.header_container {
}

.left_part {
  flex: 4;
  width: 100%;
}
.left_part > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_part div:first-child .right_part {
  display: none !important;
}

.right_part {
  flex: 1;
}

.awards_header_text {
  font-family: gilroy-medium;
}

.counter {
  font-family: gilroy-medium;
  font-weight: 500;
  font-size: 264px;
  color: #06050a;
  opacity: 0;
}

.big_title_container {
  line-height: 1;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2%;
  overflow: hidden;
}

.big_title {
  font-family: gilroy-medium;
  font-size: 104px;
  color: var(--main-color);
  display: block;
  opacity: 0;
}

.text_introduce {
  font-family: gilroy-medium;
  font-weight: 400;
  font-size: 24px;
  color: var(--main-color);
  margin-top: 5px;
  width: 75%;
  opacity: 0;
}

.agency_wrapper,
.table_wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
.table_wrapper::-webkit-scrollbar {
  display: none;
}

.agency_row {
  width: 100%;
  opacity: 0;
}

.agency_year {
  color: var(--main-color);
  font-family: gilroy-medium;
  font-size: 64px;
  width: 10%;
  max-width: 10%;
  margin-right: 50px;
}

.agency_title {
  text-transform: uppercase;
  font-family: gilroy-medium;
  font-size: 24px;
  width: 28%;
  max-width: 28%;
  margin-right: 40px;
  color: var(--main-color);
}

.agency_text {
  font-family: maison;
  font-size: 18px;
  color: var(--main-color);
  max-width: 45%;
  width: 45%;
  margin-right: 60px;
  display: flex;
  justify-content: end;
}

.agency_logo {
  max-width: calc(100% - 10% - 28% - 45%);
  display: flex;
  align-items: start;
  justify-content: center;
  width: 10%;
}

.agency_logo img {
  width: 80px;
  height: 80px;
}

.divider {
  background: #707070;
  height: 1px;
  width: 100%;
  margin: 30px 0;
}

.awards_divider {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100% !important;
}

.table_awards_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.table_awards {
  display: flex;
  width: 100%;
  align-items: center;
}

.table_year_column {
  width: 8.3%;
  padding-right: 24px;
}

.table_awards_column {
  width: 23.2%;
  padding-right: 64px;
}

.table_category_column {
  width: 25.3%;
  padding-right: 112px;
}

.table_position_column {
  width: 21.6%;
  padding-right: 88px;
}

.table_project_name_column {
  width: 18.2%;
  padding-right: 64px;
}

.table_awards_header_cell {
  font-size: 16px;
  font-family: gilroy-light;
  text-transform: uppercase;
  color: var(--main-color);
}

.wrapper {
  height: fit-content;
  overflow: hidden;
}
.awards_title {
  opacity: 0;
}

.table_awards_body {
  display: flex;
  width: 100%;
  align-items: start;
  font-family: gilroy-medium;
  font-size: 18px;
  color: var(--main-color);
  text-transform: uppercase;
  margin: 18px 0;
  opacity: 0;
  position: relative;
}
.show_fade_table {
  animation: fade 1.4s ease-out forwards;
}

.table_awards_body:hover .table_icon {
  visibility: visible;
  opacity: 1;
  transition: transform 0.4s ease-in-out;
  transform: scale(1);
}

.table_awards_body:hover .table_awards_column {
  animation: up 0.7s ease-out;
}

.table_icon {
  visibility: hidden;
  display: flex;
  align-items: flex-start;
  height: 100%;
  position: absolute;
  right: 0px;
  top: -40px;
  opacity: 0;
  transform: scale(0.2);
  transition: all 0.3s ease-in-out;
}
.table_icon i {
  rotate: -45deg;
  font-size: 100px;
  color: #06050a;
}

.table_row_divider {
  background: #e2e2e2;
  height: 1px;
  width: 100%;
  margin: 20px 0;
}

.load_more_link {
  font-size: 64px;
  font-family: gilroy-medium;
  color: var(--main-color);
  cursor: pointer;
  animation-duration: 0.7s;
  opacity: 0;
}

.load_more_link:after,
.load_more:before {
  background-color: #06050a;
}

/* Card */
.awards_cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.awards_card_container {
  width: 33.3%;
  padding: 0 15px;
  animation-duration: 0.6s;
  opacity: 0;
}

.awards_card_logo {
  width: 90px;
  height: 90px;
}

.awards_card_logo img {
  width: 100%;
  height: 100%;
}

.awards_card_title {
  font-size: 40px;
  color: var(--main-color);
  font-family: gilroy-semibold;
  text-transform: uppercase;
  margin-top: 25px;
  line-height: 1.2;
  width: 73%;
}

.awards_card_sub_title {
  font-size: 32px;
  font-family: gilroy-medium;
  color: var(--main-color);
  text-transform: uppercase;
  width: 73%;
  margin-top: 25px;
}

.awards_card_context {
  font-size: 18px;
  color: var(--main-color);
  font-family: gilroy-regular;
  font-weight: 400;
  margin-top: 25px;
}
.ranking_text_wrapper {
  gap: 12px;
  line-height: 1;
}

/* Breakpoints */
@media only screen and (max-width: 320px) {
  .big_title {
    font-size: 40px !important;
  }
  .agency_text {
    font-size: 12px !important;
  }
  .agency_logo img {
    width: 28px !important;
    height: 28px !important;
  }
  .table_awards_header_cell {
    font-size: 12px !important;
  }
  .table_awards_body {
    font-size: 12px !important;
    font-weight: 400 !important;
  }

  .load_more_link {
    font-size: 28px !important;
  }
  .awards_card_title {
    font-size: 28px !important;
  }
  .awards_card_sub_title {
    font-size: 14px !important;
  }

  .awards_card_context {
    font-size: 12px !important;
  }

  .awards_card_logo {
    width: 53px !important;
    height: 53px !important;
  }
}
@media only screen and (max-width: 414px) and (min-width: 321px) {
  .big_title {
    font-size: 46px !important;
  }

  .agency_logo img {
    width: 40px !important;
    height: 40px !important;
  }

  .load_more_link {
    font-size: 26px !important;
  }

  .awards_card_logo {
    width: 65px !important;
    height: 65px !important;
  }
}
@media only screen and (max-width: 767px) {
  .big_title {
    font-size: 48px;
  }
  .counter {
    font-size: 72px;
  }

  .left_part div:first-child .right_part {
    display: flex !important;
  }
  .header_container > .right_part {
    display: none !important;
  }
  .right_part {
    flex: 0;
  }
  .text_introduce {
    font-size: 14px;
    width: 100% !important;
  }

  .agency_year {
    font-size: 32px;
    min-width: 25%;
    margin-right: 15px;
  }

  .agency_title {
    font-size: 16px;
    min-width: 52%;
    margin-right: 20px;
  }

  .agency_text {
    font-size: 14px;
    min-width: 110%;
    margin-right: 40px;
  }

  .agency_logo {
    min-width: 23%;
  }

  .agency_logo img {
    width: 100px;
    height: 100px;
  }
  .table_awards_header_cell {
    font-size: 14px;
  }

  .table_awards_body {
    font-size: 14px;
  }
  .table_year_column {
    max-width: 22%;
    width: 100%;
    padding-right: 32px;
    min-width: 22%;
  }

  .table_awards_column {
    max-width: 47.6%;
    min-width: 47.6%;
    width: 100%;
    padding-right: 32px;
  }

  .table_category_column {
    max-width: 37.9%;
    min-width: 37.9%;
    width: 100%;
    padding-right: 40px;
  }

  .table_position_column {
    max-width: 39.6%;
    min-width: 39.6%;
    width: 100%;
    padding-right: 40px;
  }

  .table_project_name_column {
    max-width: 39%;
    min-width: 39%;
    width: 100%;
    padding-right: 24px;
  }
  .load_more_link {
    font-size: 32px;
  }

  .awards_card_title {
    font-size: 24px;
  }

  .awards_card_sub_title {
    font-size: 20px;
  }

  .awards_card_context {
    font-size: 14px;
  }

  .awards_card_logo {
    width: 135px;
    height: 135px;
  }

  .awards_card_container {
    width: 100%;
    padding: 0 5px;
  }
  .table_icon {
    display: none;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .counter {
    font-size: 128px;
  }
  .big_title {
    font-size: 60px;
  }
  .text_introduce {
    font-size: 18px;
  }
  .agency_year {
    font-size: 48px;
    min-width: 17%;
    margin-right: 15px;
  }

  .agency_title {
    font-size: 18px;
    min-width: 30%;
    margin-right: 20px;
  }

  .agency_text {
    font-size: 14px;
    min-width: 72%;
    margin-right: 40px;
  }

  .agency_logo {
    min-width: 13%;
  }

  .agency_logo img {
    width: 70px;
    height: 70px;
  }
  .table_awards_header_cell {
    font-size: 14px;
  }

  .table_awards_body {
    font-size: 14px;
  }

  .table_year_column {
    max-width: 12.3%;
    min-width: 12.3%;
    width: 100%;
    padding-right: 48px;
  }

  .table_awards_column {
    max-width: 27.7%;
    min-width: 27.7%;
    width: 100%;
    padding-right: 32px;
  }

  .table_category_column {
    max-width: 20.9%;
    min-width: 20.9%;
    width: 100%;
    padding-right: 40px;
  }

  .table_position_column {
    max-width: 21.9%;
    min-width: 27.9%;
    padding-right: 40px;
    width: 100%;
  }

  .table_project_name_column {
    max-width: calc(100% - 12.3% - 27.7% - 20.9% - 21.9%);
    min-width: calc(100% - 12.3% - 27.7% - 20.9% - 21.9%);
    width: 100%;
    padding-right: 0px;
  }
  .load_more_link {
    font-size: 40px;
  }

  .awards_card_title {
    font-size: 28px;
  }
  .awards_card_sub_title {
    font-size: 20px;
  }
  .awards_card_context {
    font-size: 14px;
  }

  .awards_card_container {
    width: 50%;
    padding: 0 5px;
  }
  .table_icon {
    display: none;
  }
}
@media only screen and (max-width: 1279px) and (min-width: 1024px) {
  .counter {
    font-size: 176px;
  }
  .big_title {
    font-size: 64px;
  }
  .text_introduce {
    font-size: 18px;
  }

  .agency_year {
    font-size: 48px;
  }
  .agency_title {
    font-size: 18px;
  }
  .agency_text {
    font-size: 14px;
  }
  .agency_year {
    max-width: 11%;
    margin-right: 25px;
    width: 100%;
  }

  .agency_title {
    max-width: 21%;
    margin-right: 30px;
    width: 100%;
  }

  .agency_text {
    max-width: 60%;
    margin-right: 50px;
    width: 100%;
  }

  .agency_logo {
    max-width: calc(100% - 11% - 21% - 60%);
  }

  .agency_logo img {
    width: 55px;
    height: 55px;
  }
  .table_awards_header_cell {
    font-size: 14px;
  }

  .table_awards_body {
    font-size: 14px;
  }

  .table_year_column {
    max-width: 11.4%;
    min-width: 11.4%;
    width: 100%;
    padding-right: 72px;
  }

  .table_awards_column {
    max-width: 24.9%;
    min-width: 24.9%;
    width: 100%;
    padding-right: 48px;
  }

  .table_category_column {
    max-width: 28.8%;
    min-width: 28.8%;
    width: 100%;
    padding-right: 88px;
  }

  .table_position_column {
    max-width: 21.3%;
    min-width: 21.3%;
    width: 100%;
    padding-right: 48px;
  }

  .table_project_name_column {
    max-width: calc(100% - 11.4% - 24.9% - 28.8% - 21.3%);
    min-width: calc(100% - 11.4% - 24.9% - 28.8% - 21.3%);
    width: 100%;
    padding-right: 0px;
  }
  .load_more_link {
    font-size: 44px;
  }
  .awards_card_sub_title {
    font-size: 20px;
  }
  .awards_card_context {
    font-size: 14px;
  }

  .awards_card_logo {
    width: 96px;
    height: 96px;
  }
  .table_icon {
    display: none;
  }
}
@media only screen and (max-width: 1439px) and (min-width: 1280px) {
  .counter {
    font-size: 248px;
  }
  .text_introduce {
    font-size: 18px;
  }

  .agency_year {
    max-width: 11%;
    margin-right: 15px;
    width: 100%;
  }

  .agency_title {
    max-width: 21%;
    margin-right: 20px;
    width: 100%;
  }

  .agency_text {
    max-width: 60%;
    margin-right: 40px;
    width: 100%;
  }

  .agency_logo {
    max-width: calc(100% - 11% - 21% - 60%);
  }

  .agency_logo img {
    width: 70px;
    height: 70px;
  }

  .table_year_column {
    max-width: 7.3%;
    min-width: 7.3%;
    width: 100%;
    padding-right: 24px;
  }

  .table_awards_column {
    max-width: 22.9%;
    min-width: 22.9%;
    width: 100%;
    padding-right: 64px;
  }

  .table_category_column {
    max-width: 25.6%;
    min-width: 25.6%;
    width: 100%;
    padding-right: 104px;
  }

  .table_position_column {
    max-width: 21.7%;
    min-width: 21.7%;
    width: 100%;
    padding-right: 80px;
  }

  .table_project_name_column {
    max-width: 18.2%;
    min-width: 18.2%;
    width: 100%;
    padding-right: 56px;
  }
  .load_more_link {
    font-size: 60px;
  }
  .awards_card_title {
    font-size: 28px;
  }

  .awards_card_logo {
    width: 96px;
    height: 96px;
  }
  .table_icon {
    display: none;
  }
}

@media only screen and (max-width: 1509px) and (min-width: 1440px) {
  .counter {
    font-size: 248px;
  }

  .agency_year {
    max-width: 11%;
    margin-right: 15px;
    width: 100%;
  }

  .agency_title {
    max-width: 23%;
    margin-right: 20px;
    width: 100%;
  }

  .agency_text {
    max-width: 58%;
    margin-right: 40px;
    width: 100%;
  }

  .agency_logo {
    max-width: calc(100% - 11% - 23% - 58%);
  }

  .table_year_column {
    max-width: 7.3%;
    min-width: 7.3%;
    width: 100%;
    padding-right: 24px;
  }

  .table_awards_column {
    max-width: 22.9%;
    min-width: 22.9%;
    width: 100%;
    padding-right: 64px;
  }

  .table_category_column {
    max-width: 25.6%;
    min-width: 25.6%;
    width: 100%;
    padding-right: 104px;
  }

  .table_position_column {
    max-width: 21.7%;
    min-width: 21.7%;
    width: 100%;
    padding-right: 80px;
  }

  .table_project_name_column {
    max-width: 18.2%;
    min-width: 18.2%;
    width: 100%;
    padding-right: 56px;
  }
  .load_more_link {
    font-size: 60px;
  }

  .awards_card_logo {
    width: 96px;
    height: 96px;
  }
  .table_icon {
    display: none;
  }
}
@media only screen and (max-width: 1919px) and (min-width: 1510px) {
}

@keyframes up {
  0% {
    transform: translateY(0); /* Start at original position */
    opacity: 1;
  }
  25% {
    transform: translateY(-45%); /* Move up and out */
    opacity: 0;
  }
  50% {
    transform: translateY(90%); /* Move to below the container */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* Reset to original position */
    opacity: 1;
  }
}
